<script src="https://unpkg.com/petite-vue"></script>
<script type="module">
    import { createApp } from 'https://unpkg.com/petite-vue?module'
    // import pocketbase from 'https://cdn.jsdelivr.net/npm/pocketbase@0.26.2/+esm'
    // const myPB = new pocketbase('http://127.0.0.1:8090');

    const Constants = {
        sitename: "Justin's Blog",
        navigation: [{ title: 'Posts', url: '/blog/posts' }],
    }

    function Pocket() {
        return {
            // getBlogPosts() {
            //     if (!myPB) {
            //         myPB = new pocketbase('http://127.0.0.1:8090');
            //     }
            //     myPB.collection('blogposts').getList(1, 50).then((result) => {
            //         console.log(result);
            //         return result;
            //     }).catch((error) => {
            //         console.log(error);
            //     })
            // }
        }
    }

    createApp({
        Constants,
    }).mount()
</script>

<!doctype html>
<html lang="en" data-theme="cupcake" v-scope="Constants">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />

        <% data.metadata.forEach(function(ogTag) { %>
        <meta name="<%= ogTag.name %>" content="<%= ogTag.content %>" />
        <% }); %>

        <title></title>
        <link href="<%=asset('/app.css')%>" rel="stylesheet" />
        <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico" />
    </head>
    <body>
        <div class="drawer">
            <input id="my-drawer-3" type="checkbox" class="drawer-toggle" />
            <div class="drawer-content flex flex-col">
                <!-- Navbar -->
                <nav class="navbar bg-base-300 w-full fixed z-40">
                    <div class="flex-none lg:hidden">
                        <!-- hamburger icon -->
                        <label
                            for="my-drawer-3"
                            aria-label="open sidebar"
                            class="btn btn-square btn-ghost"
                        >
                            <svg
                                xmlns="http://www.w3.org/2000/svg"
                                fill="none"
                                viewBox="0 0 24 24"
                                class="inline-block h-6 w-6 stroke-current"
                            >
                                <path
                                    stroke-linecap="round"
                                    stroke-linejoin="round"
                                    stroke-width="2"
                                    d="M4 6h16M4 12h16M4 18h16"
                                ></path>
                            </svg>
                        </label>
                    </div>

                    <div class="menu menu-horizontal mx-2 flex-1 px-2">
                        <li><a href="/">Home </a></li>
                    </div>
                    <div class="hidden flex-none lg:block">
                        <ul class="menu menu-horizontal">
                            <li
                                v-for="(item, index) in Constants.navigation"
                                :key="index"
                            >
                                <a :href="item.url">{{ item.title }}</a>
                            </li>
                        </ul>
                    </div>
                </nav>
                <article class="prose max-w-none pt-16"><%- slot %></article>
            </div>
            <div class="drawer-side z-50">
                <label
                    for="my-drawer-3"
                    aria-label="close sidebar"
                    class="drawer-overlay"
                ></label>
                <ul class="menu bg-base-200 min-h-full w-80 p-4">
                    <!-- Sidebar content here -->
                    <li
                        v-for="(item, index) in Constants.navigation"
                        :key="index"
                    >
                        <a :href="item.url">{{ item.title }}</a>
                    </li>
                </ul>
            </div>
        </div>

        <%- include('footer.ejs') %>
    </body>
</html>
