<script server>
    const { formatDateTime, getImageUrl } = resolve('../../utils/common')
</script>

<div
    class="hero bg-base-100 py-12 min-h-[calc(100vh-12.54rem)] flex flex-col items-center justify-start"
>
    <div class="hero-content max-w-4xl flex flex-col">
        <h1
            class="md:mb-0 font-extrabold text-5xl leading-tight md:flex hidden"
        >
            <%= singleBlog?.title %>
        </h1>
        <!-- Blog Image -->
        <img
            src="<%= singleBlog?.coverImageAlt ?? getImageUrl(singleBlog) %>"
            class="rounded-lg shadow-lg object-cover m-0"
            alt="<%= singleBlog?.title %> image"
        />
        <!-- Blog Content -->
        <div class="prose lg:prose-xl w-full self-start">
            <h1
                class="mb-0 font-extrabold sm:text-4xl leading-tight flex md:hidden"
            >
                <%= singleBlog?.title %>
            </h1>
            <!-- Meta Info -->
            <div class="items-center text-sm text-base-content/70">
                <div class="flex justify-between w-full">
                    <!-- <span>By: <strong>Justin K</strong></span> -->
                    <span
                        >Posted:
                        <strong>
                            <%= formatDateTime(new Date(singleBlog?.created))
                        %>
                        </strong></span
                    >
                </div>
            </div>
            <p class="text-base-content/80 mb-6 min-w-80">
                <%- singleBlog?.content1 %>
            </p>
        </div>
        <div class="">
            <p class="text-base-content/80 mb-6"><%- singleBlog?.content2 %></p>
        </div>
    </div>
</div>
